@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

:root {
--Blue: hsl(223, 87%, 63%);
--PaleBlue: hsl(223, 100%, 88%);
--LightRed: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--VeryDarkBlue: hsl(209, 33%, 12%);
}

body {
  font-family: 'Libre Franklin', sans-serif;
}















































.footer { 
  font-size: 11px; text-align: center; 
}

.footer a { 
  color: hsl(228, 45%, 44%); 
}


